<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="apple-touch-icon" sizes="180x180" href="@Assets["img/favicon-180.png"]">
        <link rel="icon" type="image/png" sizes="32x32" href="@Assets["img/favicon-32.png"]">
        <link rel="icon" type="image/png" sizes="16x16" href="@Assets["img/favicon-16.png"]">
        <link rel="manifest" href="@Assets["site.webmanifest"]" />
        <link rel="stylesheet" href="@Assets["dist/style.css"]" />
        <link rel="stylesheet" href="@Assets["Spottarr.Web.styles.css"]" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
              rel="stylesheet">
        <ImportMap />
        <HeadOutlet />
    </head>

    <body class="bg-gray-100 dark:bg-slate-900 text-slate-900 dark:text-white font-normal text-sm">
        <Routes @rendermode="InteractiveServer"/>
        <script src="_framework/blazor.web.js"></script>
        <script src="@Assets["scripts.js"]"></script>
    </body>
</html>
