<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />z
    <link rel="stylesheet" href="@Assets["dist/style.css"]" />
    <link rel="stylesheet" href="@Assets["Spottarr.Web.styles.css"]" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Assets["img/favicon-180.png"]">
    <link rel="icon" type="image/png" sizes="32x32" href="@Assets["img/favicon-32.png"]">
    <link rel="icon" type="image/png" sizes="16x16" href="@Assets["img/favicon-16.png"]">
    <link rel="manifest" href="@Assets["site.webmanifest"]">
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
