@using Spottarr.Data.Entities
@using Spottarr.Data.Entities.Enums
@using Spottarr.Services.Contracts
@using Spottarr.Services.Models
@using Spottarr.Web.Components.Shared
@using Spottarr.Web.Helpers

<table class="border-collapse table-auto w-full overflow-y-auto">
    <thead>
    <tr class="font-light border-b border-gray-200 dark:border-slate-600 bg-gray-100 dark:bg-slate-700 text-left">
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Category</span>
            </a>
        </th>
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Title</span>
                <Icon Name="sort" CssClass="size-5 flex-none fill-gray-400 dark:fill-slate-400" />
            </a>
        </th>
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Genre</span>
                <Icon Name="sort" CssClass="size-5 flex-none fill-gray-400 dark:fill-slate-400" />
            </a>
        </th>
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Spotter</span>
                <Icon Name="sort" CssClass="size-5 flex-none fill-gray-400 dark:fill-slate-400" />
            </a>
        </th>
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Age</span>
                <Icon Name="sort" CssClass="size-5 flex-none fill-gray-400 dark:fill-slate-400" />
            </a>
        </th>
        <th class="">
            <a class="flex items-center w-full p-4" href="#">
                <span class="flex-1">Size</span>
                <Icon Name="sort" CssClass="size-5 flex-none fill-gray-400 dark:fill-slate-400" />
            </a>
        </th>
        <th class="p-4">Links</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var spot in _spots)
    {
        <tr class="border-b last:border-0 dark:border-slate-600 even:bg-gray-50 odd:bg-white dark:even:bg-slate-700 dark:odd:bg-slate-800">
            <td class="p-4">@spot.ImageFormats.GetDisplayNames()</td>
            <td class="p-4">@spot.Title</td>
            <td class="p-4">@spot.ImageGenres.GetDisplayNames()</td>
            <td class="p-4">@spot.Spotter</td>
            <td class="p-4">@spot.SpottedAt</td>
            <td class="p-4">@spot.Bytes</td>
            <td class="p-4">
                <a href="#" class="">NZB</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code
{
    [Inject]
    private ISpotSearchService SpotSearchService { get; set; } = default!;

    private ICollection<Spot> _spots = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var result = await SpotSearchService.Search(new SpotSearchFilter()
        {
            Categories = [NewznabCategory.Movies],
            Years = null,
            Seasons = null,
            Episodes = null,
            Query = null,
            Limit = 100,
            Offset = 0,
        });
        _spots = result.Spots;
    }
}